.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 10px  rgb(153, 153, 153) ;
}
.icon{
    width: fit-content;
    height:fit-content;
    font-size: 50px;
}

.orange{
    background-color: rgb(255, 187, 40);
    
}
.red{
    background-color: rgb(252, 42, 42);
}
.green{
    background-color: rgb(32, 156, 32);
}
.blue{
    background-color: rgb(86, 86, 255);
}