.profile{
    text-align: center;
}

.profile img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.profile h3{
    font-weight: 600;
    margin-bottom: 0px;
}
h2{
    font-size: medium;
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: 0;
}
.pages{
    display: flex;
    flex-direction: column;
    
}
.pages a{
    text-decoration: none;
    color: black;
    line-height: 40px;
    padding: 10px 0 0 10px;
   
}
.pages a:hover{
    background-color: rgb(229, 212, 247);
}

.tools{
    display: flex;
    flex-direction: column;
}
.tools a{
    text-decoration: none;
    color: black;
    line-height: 40px;
    padding: 10px 0 0 10px;
}
.tools a:hover{
    background-color: rgb(229, 212, 247);
}

mat-icon{
    vertical-align: middle;
    margin-right: 5px;
}