<!-- card -->
<div class="cards">
<!-- card 1 -->
    <mat-card>
        <app-card bg="orange" icon="person" desc="Students" count="2000" ></app-card>
    </mat-card>

    <!-- card 2 -->
    <mat-card>
        <app-card bg="red" icon="home" desc="Institutions" count="20"></app-card>
    </mat-card>

    <!-- card 3 -->
    <mat-card>
        <app-card bg="green" icon="groups" desc="Employees" count="200" ></app-card>
    </mat-card>

    <!-- card 4 -->
    <mat-card>
        <app-card bg="blue" icon="dashboard" desc="Placements" count="1500"></app-card>
    </mat-card>

      
</div>


<!-- area chart -->
<div class="area">


    <app-area-chart></app-area-chart>

</div>

<!-- table and pie chart -->
<div class="both">
    <!-- table -->
    <div class="table">
      
        <app-table></app-table>

    </div>
    
    <!-- pie -->
    <div class="pie">
    
        <app-pie-chart></app-pie-chart>

    </div>

</div>